﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="ExternalLoginFacebook.aspx.vb" Inherits="ExternalLoginFacebook" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <script type="text/javascript">

        try {
            // First, parse the query string
            var params = {}, queryString = location.hash.substring(1),
               regex = /([^&=]+)=([^&]*)/g, m;
            while (m = regex.exec(queryString)) {
                params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
            }
            var token = queryString.split("&")

            // alert(ss[0]);
            window.location = "ExternalLoginFacebook.aspx?" + token[0];
            

        } catch (exp) {
            console.log(exp.message);
        }
    </script>




</asp:Content>

