﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="ExternalLoginGoogle.aspx.vb" Inherits="ExternalLoginGoogle" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   
                        <script type="text/javascript">

                            try {
                                // First, parse the query string
                                var params = {}, queryString = location.hash.substring(1),
                                   regex = /([^&=]+)=([^&]*)/g, m;
                                while (m = regex.exec(queryString)) {
                                    params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                                }
                                var token = queryString.split("&")

                                // alert(ss[0]);
                                window.location = "ExternalLoginGoogle.aspx?" + token[1];
                                

                            } catch (exp) {
                                console.log(exp.message);
                            }
                        </script>
               

</asp:Content>

